@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

/*
 *
 *JQuery UI CSS Overrides
 */

.ui-accordion .ui-accordion-header{
	margin: 2px 10px 0 0;
}

.ui-accordion  .ui-accordion-content{
	margin-right: 10px;
    min-height: 30px;
}

.userbar ul {
	list-style-type: none;
}
.wrapper{
	width: 80%;
	margin: 0 auto;
}

body, html{
 height: 100%;
}
a:visited{
 color: blue;
}
div.container{
 overflow: hidden;
}
body{
 background-color: #ffffc9;
}
.header {
 background-color: #736aff;
 margin: 0 auto;
 height: 100px;
 width: 80%;
 font-family: Indie Flower;
 font-weight: bold;
 color: #ffff45;
 text-align: center;
 font-size: 4em;
}
.header a{
	text-decoration: none;
	color: #ffff45;
}
.header a:hover{
	color:white;
}
#col_1 {
 margin-top: 2%;
 margin-left: 8%;
 margin-bottom: 2.5%;
 float: left;
 width: 25%;
 height: 400px;
 background-color: #ffff45;
}
#col_2 {
 margin-top: 2%;
 margin-left: 2.5%;
 margin-bottom: 2.5%;
 display: inline-block;
 width: 29%;
 height: 400px;
 background-color: #47d147;
}
#col_3 {
 margin-top: 2%;
 margin-right: 8%;
 margin-bottom: 2.5%;
 float: right;
 width: 25%;
 height: 400px;
 background-color: #ff3030;
}
#search {
 margin-top: 2%;
 margin-left: 5%;
 margin-bottom: 2.5%;
 padding: 15px 0 0 15px;
 float: left;
 width: 40%;
 height: 400px;
 background-color: #47d147;
}
#result{
 margin-top: 2%;
 margin-right: 5%;
 margin-bottom: 2.5%;
 padding: 15px 0 0 15px;
 float: right;
 width: 40%;
 height: 400px;
 background-color: #ff3030;
}
#login{
 margin-left: 30%;
 margin-right: 25.5%;
 margin-top: 7%;
 margin-bottom: 2.5%;
 padding-top: 40px;
 width: 40%;
 height: 250px;
 background-color: #ffff45;
 font-size: 1.5em;
 text-align: center;
 color: #736aff;
}
#loginForm{
	margin-top: 40px;
}
#username{
	margin-bottom: 10px;
}
#password{
	margin-bottom: 10px;
}
#firstname{
    margin-bottom: 10px;
}
#middlename{
    margin-bottom: 10px;
}
#lastname{
    margin-bottom: 10px;
}

#lookup input{
	margin: 10px 0;
}
.childSingle, .clientSingle{
	margin-bottom: 10px;
}
.register{
	text-align: center;
	background-color: cornsilk; 
}

form input{
	width: 300px;
}

input[type=checkbox]{
    margin: 10px 0;
}
#error{
 color: red;
}
#content{
  margin-top:1%;
  margin-left: 10%;
  color: #736aff;
  text-align: center;
  height: 70%;
  width:80%;
  font-family:Arial;
  font-weight:bold;
  background-color: #ffff45;
}
li{
  list-style-type: none;
}
img{
  float: left;
}
footer{
background-color:#736aff;
margin: auto;
height: 100px;
width: 80%;
}
